@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,900&family=Silkscreen:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Merriweather', serif;

    font-family: 'Silkscreen', cursive;
    
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: #DEB887;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.circle{
    position: absolute;
    top: 1;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #FFD700;
    clip-path: circle(30% at top);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    position: relative;
    max-width: 200px;

}
header .navegation ul{
    position: relative;
    display: flex;

}
header .navegation li{
    list-style: none;
}
header .navegation li a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 30px;
    margin-left: 100px;
}
.conteiner{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.conteiner .texto{
    position: relative;
    max-width: 600px;
    margin-right: 20px;

}
.conteiner .texto h2{
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 2.5em;
    font-weight: 700;
}
.conteiner .texto h2 span{
    font-size: 3.5em;
    color: #e51e2e;

}
.conteiner .texto p{
    color: #fff;

}
.conteiner .texto a{
    display: inline-block;
    margin-top: 50px;
    padding: 10px 25px;
    background: #e51e2e;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 40px;
    transition: 0.3s ease-in-out;

}
.conteiner .texto a:hover{
    transform: translateY(-10px);
}
.icons{
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons li{
    list-style: none;
}
.icons li a{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #222;
    margin-left: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
}
.icons li a:hover{
    background: #e51e2e;
    transform: translateY(-10px);

}
.icons li a img{
    transform: scale(0.5);
    filter: invert(1);
}
.cactos1 img{
    position: relative;
}
.cactos1 img{
    position: absolute;
    bottom: 150px;
    right: 1px;
    float: right;
}
.cactos2 img{
    position: absolute;
    bottom: 150px;
    left: 1px;
    float: left;
}
.borda img{
    position: absolute;
    top: 320px;
    left: 1000px;
    width: 600px%;
    height: 900px;
    clip-path: (30% at top);
}

}
   